In [1]:
import camelot

In [2]:
tables = camelot.read_pdf('E:\\Microsoft Power BI Cookbook.pdf', pages='132', flavor='stream')

In [3]:
tables

In [4]:
tables.export('E:\\test.csv',f='csv',compress=True)

In [5]:
tables[0]

In [6]:
tables[0].parsing_report

{'accuracy': 96.98, 'whitespace': 49.38, 'order': 1, 'page': 132}

In [7]:
tables[0].to_csv('E:\\test.csv')

In [8]:
tables[0].df

,0,1,2
0,There's more...,,
1,The following is a list of 11 blogs that conta...,,
2,BI's tools and features:,,
3,Blogger(s),Blog,URL
4,Michael Carlo,Power BI Tips and Tricks,
5,,,http://powerbi.tips
6,Chris Webb,Crossjoin,
7,,,https://blog.crossjoin.co.uk
8,Rob Collie,,
9,,PowerPivotPro,https://powerpivotpro.com
10,Avi Singh,,
11,Alberto Ferrari,,
12,,SQL BI,http://www.sqlbi.com
13,Marco Russo,,
14,Kasper De Jonge,Kasper On BI,
15,,,https://www.kasperonbi.com
16,Matt Allington,ExceleratorBI,
17,,,http://exceleratorbi.com.au/exceleratorblog
18,Ruth Martinez,Curbal,
19,,,https://curbal.com/blog
20,Dustin Ryan,SQL Dusty,
21,,,https://sqldusty.com
22,Reza Rad,RADACAD,
23,,,http://radacad.com/blog
24,Imke Feldman,The BIccountant,
25,,,http://www.thebiccountant.com
26,Brett Powell,Insight Quest,https://insightsquest.com

In [9]:
tables.export('E:\\test.json',f='json',compress=True)

In [10]:
tables[0].parsing_report

{'accuracy': 96.98, 'whitespace': 49.38, 'order': 1, 'page': 132}

In [11]:
tables[0].to_json('E:\\test.json')

In [12]:
tables[0].df

,0,1,2
0,There's more...,,
1,The following is a list of 11 blogs that conta...,,
2,BI's tools and features:,,
3,Blogger(s),Blog,URL
4,Michael Carlo,Power BI Tips and Tricks,
5,,,http://powerbi.tips
6,Chris Webb,Crossjoin,
7,,,https://blog.crossjoin.co.uk
8,Rob Collie,,
9,,PowerPivotPro,https://powerpivotpro.com
10,Avi Singh,,
11,Alberto Ferrari,,
12,,SQL BI,http://www.sqlbi.com
13,Marco Russo,,
14,Kasper De Jonge,Kasper On BI,
15,,,https://www.kasperonbi.com
16,Matt Allington,ExceleratorBI,
17,,,http://exceleratorbi.com.au/exceleratorblog
18,Ruth Martinez,Curbal,
19,,,https://curbal.com/blog
20,Dustin Ryan,SQL Dusty,
21,,,https://sqldusty.com
22,Reza Rad,RADACAD,
23,,,http://radacad.com/blog
24,Imke Feldman,The BIccountant,
25,,,http://www.thebiccountant.com
26,Brett Powell,Insight Quest,https://insightsquest.com

In [13]:
tables.export('E:\\test.html',f='html',compress=True)

In [14]:
tables[0].to_json('E:\\test.json')

In [15]:
tables[0].df

,0,1,2
0,There's more...,,
1,The following is a list of 11 blogs that conta...,,
2,BI's tools and features:,,
3,Blogger(s),Blog,URL
4,Michael Carlo,Power BI Tips and Tricks,
5,,,http://powerbi.tips
6,Chris Webb,Crossjoin,
7,,,https://blog.crossjoin.co.uk
8,Rob Collie,,
9,,PowerPivotPro,https://powerpivotpro.com
10,Avi Singh,,
11,Alberto Ferrari,,
12,,SQL BI,http://www.sqlbi.com
13,Marco Russo,,
14,Kasper De Jonge,Kasper On BI,
15,,,https://www.kasperonbi.com
16,Matt Allington,ExceleratorBI,
17,,,http://exceleratorbi.com.au/exceleratorblog
18,Ruth Martinez,Curbal,
19,,,https://curbal.com/blog
20,Dustin Ryan,SQL Dusty,
21,,,https://sqldusty.com
22,Reza Rad,RADACAD,
23,,,http://radacad.com/blog
24,Imke Feldman,The BIccountant,
25,,,http://www.thebiccountant.com
26,Brett Powell,Insight Quest,https://insightsquest.com

In [17]:
tables.export('E:\\test.xlsx',f='xlsx',compress=True)

In [18]:
tables[0].to_excel('E:\\test.xlsx')